<!doctype html>
<html lang="en">
{![head]}

<body>
    <_container>

        <h1>Analogous Dashboard</h1>
        <hr>
        <div class="row">
            <div class="col-3">
                <h2>Servers</h2>
                <div class="list-group" id="server-list">
                    <button type="button" class="list-group-item list-group-item-action active" aria-current="true">
                        The current button
                    </button>
                </div>
            </div>
            <div class="col-9">
                <ul class="nav nav-pills mb-2" id="collector-list">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Please select a Server</a>
                    </li>
                </ul>
                <button class="btn btn-outline-secondary" onclick="addCollectorModal.show()">Add Collector</button>
                <button class="btn btn-outline-secondary" onclick="showTokens()">View Tokens</button>
                <hr>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Content</th>
                        </tr>
                    </thead>
                    <tbody id="log-list">
                    </tbody>
                </table>
            </div>
        </div>

    </_container>
    {![js_deps]}

    <!-- Show Tokens Modal -->
    <div class="modal fade" id="showTokensModal" tabindex="-1" aria-labelledby="showTokensModalTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="showTokensModalTitle">Collector Tokens</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    You can use the following tokens to push data to the collector using the following API:<br>
                    <code>POST /dataingest?token=YOURTOKENHERE</code><br>
                    Your POST Body will be separated into lines and stored in the collector.<br>
                    <hr>
                    <ul class="list-group" id="token-list">
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Create Server Modal -->
    <div class="modal fade" id="createServerModal" tabindex="-1" aria-labelledby="createServerModalTitle"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="createServerModalTitle">Create Server</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="createServerForm" onSubmit="handleCreateServerForm(event)">
                        <div class="mb-3">
                            <label for="serverName" class="form-label">Server Name</label>
                            <input type="text" class="form-control" id="serverName" required>
                        </div>
                        <div class="mb-3">
                            <label for="serverIp" class="form-label">Server IP</label>
                            <input type="text" class="form-control" id="serverIp" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Create Server</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Add Collector Modal -->
    <div class="modal fade" id="addCollectorModal" tabindex="-1" aria-labelledby="addCollectorModalTitle"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="addCollectorModalTitle">Add Collector</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="addCollectorForm" onSubmit="handleAddCollectorForm(event)">
                        <div class="mb-3">
                            <label for="collectorName" class="form-label">Collector Name</label>
                            <input type="text" class="form-control" id="collectorName" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Create Collector</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>